<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--application variable needed to works-->
  <appSettings>
    <add key="table_a_url" value="http://api.nbp.pl/api/exchangerates/tables/a/?format=json"/>
    <add key="table_c_url" value="http://api.nbp.pl/api/exchangerates/tables/c/?format=json"/>
  </appSettings>
</configuration>